<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tambah Penanganan Pasien</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<br>
<form th:action="@{/jabatan/tambah}" th:object="${jabatan}" method="POST">
    <h3>Tambah Penanganan</h3>
    Jenis Penanganan: <br>
    <input type="text" name="jenis-penanganan" />
    <br>
    Nama Obat: <br>
    <input type="text" name="nama-obat" />
    <br>
    <select id="provinsi" name="provinsi">
        <option disabled="disabled" selected="selected">--
            Pilih Nama Obat --</option>
        <option th:each="medicalSupply : ${listObat}"
                th:value="${obat.id}" th:text="${obat.nama}"></option>
    </select>
    Jumlah Dosis: <br>
    <input type="number" name="dosis-obat" />
    <br>
    Total Harga Penanganan:    ${JenisPenanganan.harga}
    <br>


    <button type="submit">Tambah</button>
</form>
</body>

</html>